.markdown code {
  padding: 0 0.5em;
  color: #0086b3;
  background: #fafafa;
}

.markdown .language-html,
.language-js,
.language-css,
.language-c {
  display: block;
  padding: 10px;
  border-radius: 10px;
  color: #383a42;
}
