@import '../../../assets/styles/color.scss';

.item-link{
	font-size: 18px;
	padding:10px;
	border-bottom: 1px dashed $dark;
	width: 100%;
	box-sizing: border-box;
	display: block;
	.item-desc{
		font-size: 14px;
		color:$light;
		padding-top: 5px;
	}
	.item-title{
		position: relative;
	}
}

.item-title::before{
	content:'';
	position: absolute;
	width: 0;
	height: 0;
	border:5px solid transparent;
	border-left-color: $main;
	top:50%;
	left:-10px;
	transform: translateY(-50%);
}