@import './color.scss';

.markdown {
  color: #444;
  line-height: 25px;
  letter-spacing: 0.5px;
  padding: 30px 0;
  max-width: 100%;
  word-break: break-all;
  code {
    padding: 0 10px;
    color: $main;
    background: #fafafa;
    font-weight: 700;
    margin: 5px 0;
    // word-wrap: break-word;
    // word-break: break-all;
    overflow-x: auto;
  }

  img {
    display: block;
    object-fit: center;
    margin: 0 auto;
    max-width: 100%;
  }

  p {
    text-indent: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark;
    line-height: 40px;
  }

  h1 {
    padding: 20px 0;
  }

  .language-html,
  .language-js,
  .language-css,
  .language-c,
  .language-Shell {
    font-weight: 500 !important;
    display: block;
    padding: 10px;
    border-radius: 10px;
    color: #383a42;
  }

  .language-Shell {
    color: $dark;
  }

  hr {
    margin: 10px 0;
  }
}
